@import './new.scss';
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
body{
    background-color: white;
}

.App-header{
    background-color: #222222;
    border-bottom: 1px solid lightgrey;
    h1{
        color:#FDB927;
        text-align:center;
        font-family: 'Pacifico',sans-serif;
        font-style: italic;
        span{
            font-family: Helvetica, sans-serif;
            font-style: normal;
            letter-spacing: -2px;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 2rem;
        }
    }
    h2{
        text-align: center;
        font-size: 1.5rem;
        color:#552583;
        span{
            font-family: 'Pacifico',sans-serif;
            font-style: italic;
        }
    }
}

.addToDo{
    background-color: white;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid lightgrey;
    padding: 1rem 0;
    .buttons{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        button{
            width: 49%;
            box-shadow: 4px 4px 13px 2px rgba(0,0,0,0.40);
        }
        button:hover{
            transform: translateY(-1px);
        }
        button:nth-of-type(2){
            background-color: red;

        }
        button:nth-of-type(2):hover{
            background-color: rgb(196, 0, 0);
            
        }
    }
    input{
        font-size: 1rem;
    }

}

.toDoList{
    h1{
        color:black;
        padding: 1rem 0;
        border-bottom: 1px solid lightgrey;
    }
    ul{
        margin-top: 1rem;
        padding: 0;
        border: 1px solid lightgrey;
        border-radius: 15px;
    }
    li{
        color:black;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-bottom: 1px solid lightgrey;
        padding: 1rem 0;
        margin: 0;
        width: 97%;
        padding-left: 3%;
    }
    li:hover{
        background-color: lightgray;
    }
    li:first-of-type{
        &:hover{
            border-top-left-radius: 14px;
            border-top-right-radius: 14px;
        }
    }
    li:last-of-type{
        border:none;
        &:hover{
            border-bottom-left-radius: 14px;
            border-bottom-right-radius: 14px;
        }
    }
    input{
        margin: 0 1rem 0 0;
        width: 50px;
        height: 25px;
        opacity: 0;
        z-index:11
    }
    label{
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
    }
    span{
        content: '';
        display: block;
        width: 25px;
        height: 25px;
        border-radius: 100px;
        border:1px solid lightgray;
        position: absolute;
        cursor: pointer;
        z-index: 10;
        background-color: white;
    }

    input:checked ~ span {
        background-color: #28a745;
        border:1px solid #28a745;
    }

    .success{
        opacity: 0;
        margin-left: 0.3rem;
        position: absolute;
        width: 50px;
        z-index: 100;
    }

    .success:hover{
        cursor: pointer;
    }

    input:checked ~ .success{
        color: white;
        opacity: 1;
    }
}