@import './new.scss';

body{
    background-color: white;
}

.App-header{
    background-color: rgb(238, 238, 238);
    border-bottom: 1px solid lightgrey;
    h1{
        color:black;
        text-align:center;
    }
}

.addToDo{
    background-color: white;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid lightgrey;
    padding: 1rem 0;
    .buttons{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        button{
            width: 49%;
        }
        button:nth-of-type(2){
            background-color: red;
        }
    }

}

.toDoList{
    h1{
        color:black;
        padding: 1rem 0;
        border-bottom: 1px solid lightgrey;
    }
    ul{
        padding: 0;
    }
    li{
        color:black;
        list-style-type: none;
    }
    input{
        margin: 0 0.5rem 0 0;
    }
}